html {
  font-size: 15px; }

#home .navbar {
  padding-top: 0.8rem; }
#home .nav-link {
  font-size: 1.1rem;
  padding-right: 1.7rem; }

#showcase {
  position: relative;
  font-size: 10px; }
  #showcase .carousel-indicators li {
    width: 0.75em;
    height: 0.75em;
    margin: 0.35em;
    border-radius: 50%; }
  #showcase .carousel-image-1 {
    background: url(../img/image1.jpg) 0% 0%/cover; }
  #showcase .carousel-image-2 {
    background: url(../img/image2.jpg) 0% 0%/cover; }
  #showcase .carousel-image-3 {
    background: url(../img/image3.jpg) 0% 0%/cover; }
  @media (max-width: 575px) {
    #showcase .carousel-inner .carousel-item {
      height: 54em; } }
  @media (min-width: 576px) {
    #showcase .carousel-inner .carousel-item {
      height: 47em; } }
  @media (min-width: 768px) {
    #showcase .carousel-inner .carousel-item {
      height: 62em; } }
  @media (max-width: 575px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption {
      padding-bottom: 12em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption {
      padding-bottom: 8em; } }
  @media (min-width: 576px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption {
      padding-bottom: 7em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption {
      padding-bottom: 3em; } }
  @media (min-width: 767px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption {
      padding-bottom: 8em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption {
      padding-bottom: 4em; } }
  @media (min-width: 768px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption {
      padding-bottom: 16em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption {
      padding-bottom: 8em; } }
  @media (min-width: 992px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption {
      padding-bottom: 9em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption {
      padding-bottom: 7em; } }
  @media (max-width: 575px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption .display-3,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption .display-3 {
      font-size: 4.3em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption p.lead,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption p.lead {
      font-size: 1.2em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption .display-3 {
      font-size: 4em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption h3.lead {
      font-size: 1.9em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption p.lead {
      font-size: 1.2em; } }
  @media (min-width: 576px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption .display-3,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption .display-3 {
      font-size: 5.2em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption p.lead,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption p.lead {
      font-size: 1.2em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption .display-3 {
      font-size: 4.2em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption h3.lead {
      font-size: 1.9em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption p.lead {
      font-size: 1.2em; } }
  @media (min-width: 768px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption .display-3,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption .display-3 {
      font-size: 6em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption p.lead,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption p.lead {
      font-size: 1.5em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption .display-3 {
      font-size: 7em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption h3.lead {
      font-size: 1.9em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption p.lead {
      font-size: 1.5em; } }
  @media (min-width: 992px) {
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption .display-3,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption .display-3 {
      font-size: 7em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(1) .carousel-caption p.lead,
    #showcase .carousel-inner .carousel-item:nth-of-type(2) .carousel-caption p.lead {
      font-size: 2.2em;
      padding-bottom: 30px;
      padding-top: 12px; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption .display-3 {
      font-size: 7em; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption p.lead {
      font-size: 2.2em;
      padding-bottom: 30px;
      padding-top: 12px; }
    #showcase .carousel-inner .carousel-item:nth-of-type(3) .carousel-caption h3.lead {
      font-size: 2.6em;
      padding-bottom: 10px; } }

@media (max-width: 500px) {
  #info > .container {
    padding-top: 2rem; } }
@media (min-width: 500px) {
  #info > .container {
    padding-top: 2.8rem; } }
#info > .container {
  padding-bottom: 3.5rem; }
  #info > .container .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    #info > .container .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #info > .container .info-description {
    margin-top: 3.1rem;
    text-align: center; }
    #info > .container .info-description .info-section:nth-of-type(2n) {
      margin-top: 3.1rem;
      margin-bottom: 0.6rem; }
  @media (min-width: 992px) {
    #info > .container .info-description {
      padding-left: 4.4rem;
      text-align: left; } }

#services-header .container-fluid,
#portfolio-header .container-fluid {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem; }

@media (max-width: 575px) {
  #services > .container {
    padding-right: 60px;
    padding-left: 60px; } }
@media (min-width: 576px) {
  #services > .container {
    padding-right: 120px;
    padding-left: 120px; } }
@media (min-width: 768px) {
  #services > .container {
    padding-right: 80px;
    padding-left: 80px; } }
@media (min-width: 992px) {
  #services > .container {
    padding-right: 10px;
    padding-left: 10px; } }
#services > .container {
  padding-top: 7.5rem;
  padding-bottom: 2.5rem; }
  #services > .container .card {
    margin-bottom: 3.8rem; }
    #services > .container .card .icon-holder {
      margin-top: -2.5rem; }
    #services > .container .card .card-body.service-card h5 {
      color: gray; }
  #services > .container .card:hover {
    background-color: #3292a6; }
    #services > .container .card:hover .service-title,
    #services > .container .card:hover .card-text {
      color: white; }
    #services > .container .card:hover .service-card h5 {
      color: lightgrey;
      font-size: 1rem; }

#portfolio > .container {
  padding-top: 6.3rem;
  padding-bottom: 6.3rem; }
#portfolio .card {
  border: none; }
  #portfolio .card a .card-img-top {
    padding: 0.6rem; }
  #portfolio .card a .card-img-overlay {
    color: transparent; }
  #portfolio .card a:hover img {
    opacity: 0.3; }
  #portfolio .card a:hover .card-img-overlay {
    color: #17a2b8; }
    #portfolio .card a:hover .card-img-overlay .card-title {
      padding-top: 1.9rem; }
    #portfolio .card a:hover .card-img-overlay .card-text {
      font-weight: 1.9rem; }

#testimonials {
  background: url(../img/pattern1.png), url(../img/bg-4.jpg); }
  #testimonials > .container {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem; }
    #testimonials > .container .owl-item {
      color: white;
      opacity: 0.7; }
    #testimonials > .container .fa.fa-twitter {
      font-size: 1.9rem; }
    #testimonials > .container h5 {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.3rem;
      padding-top: 0.6rem; }

@media (max-width: 767px) {
  #contact .container {
    padding-left: 2rem;
    padding-right: 2rem; } }
@media (min-width: 768px) {
  #contact .container {
    padding-left: 6rem;
    padding-right: 6rem; } }
@media (min-width: 992px) {
  #contact .container {
    padding-left: 10rem;
    padding-right: 10rem; } }
#contact > .container {
  padding-top: 4.4rem;
  padding-bottom: 4.4rem; }
  #contact > .container .submit-btn-wrapper {
    margin-top: 0.9rem;
    text-align: center; }
  #contact > .container .row:nth-of-type(1) {
    margin-bottom: 8px; }
  @media (max-width: 767px) {
    #contact > .container .row:nth-of-type(2) .input-group {
      margin-top: 1.5rem; } }

@media (max-width: 991px) {
  #footer > .container-fluid {
    padding-top: 3rem;
    padding-bottom: 3rem; } }
@media (min-width: 992px) {
  #footer > .container-fluid {
    padding-top: 6.3rem;
    padding-bottom: 6.3rem; } }
#footer > .container-fluid h4 {
  font-size: 1.2rem;
  text-transform: uppercase; }
@media (max-width: 991px) {
  #footer > .container-fluid .row > .d-flex:nth-of-type(1) h4 {
    padding-bottom: 0.8rem; }
  #footer > .container-fluid .row > .d-flex:nth-of-type(2) {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; } }
#footer > .container-fluid #footer-icons .icon-wrapper {
  padding-top: 0.4rem; }
  #footer > .container-fluid #footer-icons .icon-wrapper i {
    font-size: 1.3rem; }
#footer > .container-fluid #footer-icons .border {
  border: 0.15rem solid #dee2e6;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center; }

#footer-bottom > .container-fluid {
  padding-top: 1.9rem;
  padding-bottom: 1.3rem; }

/*# sourceMappingURL=style.css.map */
