$primary: #3292a6;
// Need to RGBA for opacity, the A is opacity at the end
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 75px;
}

#home .navbar {
  padding-top: 0.8rem;
}

#home .nav-link {
  font-size: 1.1rem;
  padding-right: 1.7rem;
}

#showcase {
  position: relative;
  min-height: 577px;
}

.carousel-image-1 {
  background: url(../img/image1.jpg) 0% 0% / cover;
}

.carousel-image-2 {
  background: url(../img/image2.jpg) 0% 0% / cover;
}

#showcase .carousel-item {
  height: 510px;
}

#testimonials .carousel-item {
  height: 300px;
}

.carousel-caption.carousel-caption-bottom-override {
  margin-bottom: 3rem;
}

.carousel-caption {
  margin-bottom: 6rem;
}

.info-inner.container {
  margin-bottom: 75px;
}

@media (min-width: 992px) {
  .info-description {
    padding-left: 50px;
  }
}

.services-container {
  padding-top: 45px;
  padding-bottom: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.icon-holder {
  margin-top: -40px;
}

.card {
  margin-bottom: 60px;
}

#services .service-card h5 {
  color: gray;
}

#services .card-hover:hover {
  background-color: $primary;
  .service-title,
  .card-text {
    color: white;
  }
  .service-card h5 {
    color: lightgrey;
  }
}

#samples .card-img-overlay {
  color: transparent;
}

#samples a:hover {
  .card-img-overlay {
    color: #17a2b8;
  }
  .card-img-overlay .card-text {
    font-weight: 600;
  }
  img {
    opacity: 0.3;
  }
}

#samples .card {
  border: none;
}

// #testimonials .carousel-item {
//   height: 200px;
// }

// #samples .card-title {
//   color: $primary;
// }

// .twitter_tweet h5 {
//   font-weight: 300;
//   line-height: 20px;
//   color: rgba(255, 255, 255, 0.77);
// }

// .owl-carousel {
//   position: relative;
//   width: 100%;
// }

// .owl-carousel .owl-wrapper-outer {
//   overflow: hidden;
//   position: relative;
//   width: 100%;
// }
// .owl-carousel .owl-wrapper, .owl-carousel .owl-item {
//   -webkit-backface-visibility: hidden;
// }

// .owl-carousel .owl-wrapper {
//   position: relative;
// }

#main-footer {
  background: #000;
  color: #fff;
}
