/*
Error: Invalid CSS after "... $btn-bg-color ": expected "{", was "!important;"
        on line 26 of /Volumes/GoogleDrive-104687865057283412945/My Drive/Shared Desktop/91_Git-repos/api-doc-pros/scss-custom/style.scss

21: $section-header-font-color: white;
22: 
23: 
24: // Buttons
25: 
26: background-color: $btn-bg-color !important;
27: border-color: $btn-bg-color !important;
28: 
29: // FONT SIZING
30: $base-font-size: calc(10px + 1vw);
31: $base-line-height: calc(10px + 1vw);

Backtrace:
/Volumes/GoogleDrive-104687865057283412945/My Drive/Shared Desktop/91_Git-repos/api-doc-pros/scss-custom/style.scss:26
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... $btn-bg-color \": expected \"{\", was \"!important;\"\A         on line 26 of /Volumes/GoogleDrive-104687865057283412945/My Drive/Shared Desktop/91_Git-repos/api-doc-pros/scss-custom/style.scss\A \A 21: $section-header-font-color: white;\A 22: \A 23: \A 24: // Buttons\A 25: \A 26: background-color: $btn-bg-color !important;\A 27: border-color: $btn-bg-color !important;\A 28: \A 29: // FONT SIZING\A 30: $base-font-size: calc(10px + 1vw);\A 31: $base-line-height: calc(10px + 1vw);"; }
