// body id="home"
// nav class
// section id="showcase">

// nav

$primary: #3292a6;
// Need to RGBA for opacity, the A is opacity at the end
$primary-overlay: rgba(50, 146, 166, 0.8);

#home {
  .navbar {
    padding-top: 0.8rem;
  }
  .nav-link {
    font-size: 1.1rem;
    padding-right: 1.7rem;
  }
}

// #showcase

#showcase {
  position: relative;
  min-height: 577px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 6px;
  border-radius: 50%;
}

#showcase .carousel-image-1 {
  background: url(../img/image1.jpg) 0% 0% / cover;
}

#showcase .carousel-image-2 {
  background: url(../img/image2.jpg) 0% 0% / cover;
}

#showcase .carousel-item {
  height: 510px;
}

.carousel-caption {
  margin-bottom: 7rem;
}

.carousel-caption.carousel-caption-bottom-override {
  margin-bottom: 3rem;
}

// #info

.info-inner.container {
  margin-bottom: 75px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .info-description {
    padding-left: 50px;
  }
}

// #services-header

#services-header .container-fluid {
  padding-top: 35px;
  padding-bottom: 35px;
}

// Services

#services .services-container.container {
  padding-top: 120px;
  padding-bottom: 40px;
}

.icon-holder {
  margin-top: -40px;
}

.card {
  margin-bottom: 60px;
}

#services .service-card h5 {
  color: gray;
}

#services .card-hover:hover {
  background-color: $primary;
  .service-title,
  .card-text {
    color: white;
  }
  .service-card h5 {
    color: lightgrey;
  }
}

h5,
.h5 {
  font-size: 1rem;
}

// #samples-header

// #portfolio

#portfolio-header > .container-fluid {
  padding-top: 35px;
  padding-bottom: 35px;
}

#portfolio .card-img-overlay {
  color: transparent;
}

#portfolio a:hover {
  .card-img-overlay {
    color: #17a2b8;
  }
  .card-img-overlay .card-text {
    font-weight: 600;
  }
  img {
    opacity: 0.3;
  }
}

#portfolio .card {
  border: none;
}

#portfolio .card-img-overlay {
  color: transparent;
}

// Testimonials
#testimonials {
  background: url(../img/pattern1.png), url(../img/bg-4.jpg);
}

#testimonials .carousel-item {
  height: 300px;
}

#testimonials .owl-item {
  color: white;
  opacity: 0.7;
}

.twitter_tweet i {
  font-size: 30px;
}

.twitter_tweet h5 {
  font-weight: 300;
  line-height: 20px;
  padding-top: 10px;
}

h5,
.h5 {
  font-size: 1rem;
}

// #contact

#contact .container.contact-container {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 115px;
  padding-right: 115px;
}

#contact .btn-block {
  width: 30%;
}

// #footer

#footer > .container-fluid {
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer h4 {
  font-size: 18px;
}

#footer .icon-wrapper {
  padding-top: 7px;
}

#footer .border {
  border: 2px solid #dee2e6 !important;
  width: 42px;
  height: 42px;
  text-align: center;
}

#footer-icons .footer-icon {
  font-size: 20px;
}

#footer-bottom > .container-fluid {
  padding-top: 30px;
  padding-bottom: 20px;
}
