$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

html {
  font-size: 10px;
  // contact and footer section needs to be adjusted here
  // too much space in footer section need side padding
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
#home {
  .navbar {
    padding-top: 0.8rem;
  }
  .nav-link {
    font-size: 1.1rem;
    padding-right: 1.7rem;
  }
}

// #showcase

#showcase {
  position: relative;

  .carousel-indicators li {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.35rem;
    border-radius: 50%;
  }
  .carousel-image-1 {
    background: url(../img/image1.jpg) 0% 0% / cover;
  }
  .carousel-image-2 {
    background: url(../img/image2.jpg) 0% 0% / cover;
  }
  .carousel-inner {
    .carousel-item {
      height: 39rem;
    }
    .carousel-item:nth-of-type(1) {
      .carousel-caption {
        padding-bottom: 10rem;
      }
    }
    .carousel-item:nth-of-type(2) {
      .carousel-caption {
        padding-bottom: 7rem;
      }
    }
  }
}

// #info

#info {
  > .container {
    padding-top: 4.4rem;
    padding-bottom: 5.7rem;

    // you must select like this to override
    @media (max-width: 576px) {
      .col-lg-6:nth-of-type(1) {
        padding-top: 2.8rem;
      }
    }
    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .info-description {
      margin-top: 3.1rem;
      text-align: center;

      .info-section:nth-of-type(2n) {
        margin-top: 3.1rem;
        margin-bottom: 0.6rem;
      }
    }
    @media (min-width: 992px) {
      .info-description {
        padding-left: 4.4rem;
        text-align: left;
      }
    }
  }
}

// #services-header
// you must select like this to override

#services-header .container-fluid,
#portfolio-header .container-fluid {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

// #services

#services {
  > .container {
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
  }
  .card {
    margin-bottom: 3.8rem;
    .icon-holder {
      margin-top: -2.5rem;
    }
    .card-body.service-card h5 {
      color: gray;
    }
  }
  // you have to separate the pseudo class not cascade
  .card:hover {
    background-color: $primary;
    .service-title,
    .card-text {
      color: white;
    }
    .service-card h5 {
      color: lightgrey;
      font-size: 1rem;
    }
  }
}

// #portfolio-header

// #portfolio

#portfolio {
  // don't select rows for padding
  > .container {
    padding-top: 6.3rem;
    padding-bottom: 6.3rem;
  }
  .card {
    border: none;
    a {
      .card-img-top {
        padding: 0.6rem;
      }
      .card-img-overlay {
        // when not hovering, want font transparent
        color: transparent;
      }
    }
    a:hover {
      img {
        opacity: 0.3;
      }
      .card-img-overlay {
        color: #17a2b8;
        .card-title {
          padding-top: 30px;
        }
        .card-text {
          font-weight: 1.9rem;
        }
      }
    }
  }
}

// #testimonials

#testimonials {
  background: url(../img/pattern1.png), url(../img/bg-4.jpg);

  > .container {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
  }

  .owl-item {
    color: white;
    opacity: 0.7;
  }
  .fa.fa-twitter {
    font-size: 1.9rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3rem;
    padding-top: 0.6rem;
  }
}

// #contact

#contact {
  > .container {
    // you cant to mx-auto to fit the columns to their contents. you have to specify a padding left and right to decrease space available. Also dont do offsetting.
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
    padding-left: 7.2rem;
    padding-right: 7.2rem;
  }
  .submit-btn-wrapper {
    margin-top: 0.9rem;
    text-align: center;
  }
}

// #footer

#footer {
  > .container-fluid {
    padding-top: 6.3rem;
    padding-bottom: 6.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  #footer-icons {
    .icon-wrapper {
      padding-top: 0.4rem;
      i {
        font-size: 1.3rem;
      }
    }
    .border {
      border: 0.15rem solid #dee2e6;
      width: 2.6rem;
      height: 2.6rem;
      text-align: center;
    }
  }
}

// #footer bottom

#footer-bottom > .container-fluid {
  padding-top: 1.9rem;
  padding-bottom: 1.3rem;
}
